{% load static %}
<!-- 이거 그냥 임의로 넣은거야!!! 
    너가 이걸 막 수정해서 디버깅해도 돼!!!!
    프론트앤드한테 템플릿 받으면 그걸로 덮어쓰고 이제 안건드릴것-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>얼롱얼롱 - 혼자 맞춤장소 추천플랫폼</title>
    {% block head %}
    {% endblock head %}
</head>

<body id="page-top">
    {%if user.is_authenticated%}
    <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        로그아웃
    </a>
    {% else %}
    <a class="dropdown-item" href="{% url 'login' %}">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        로그인
    </a>
    {% endif %}

    {%if user.is_authenticated %}
        {{user.username}}
    {% else %}
        <a href="{% url "login"%}">로그인</a>
    {% endif %}

    {% block mainContent %}
    {% endblock %}
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Your Website 2021</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
</body>

</html>