{% extends 'board_write_base.html' %}

    {% block write_title %}
        <title>혼카페게시판</title>
    {% endblock %}

    {% block write_category_select %}
        <form action="" method="GET">
            <select id="check_box">
                <option value="">혼카페</option>
                <option value="">혼술</option>
                <option value="">혼놀</option>
                <option value="">혼밥</option>
            </select>
        </form>
    {% endblock %}
    
    {% block write_css %}
    <!-- css -->
    <style>
        body {
            background-color: black
        }

        /* title */

        .boardTitle {
            display: flex;
            flex-direction: column;
            width: 400px;
            height: 70px;
            margin-top: 100px;
            margin-left: 90px;
        }

        .boardTitle h1 {
            margin: 10px;
            font-size: 30px;
            font-weight: 600;
            color: var(--blue);
        }

        .boardTitle form {
            position: relative;
            ;
        }

        #check_box {
            width: 150px;
            padding: 5px;
            background-color: var(--blue);
            border-radius: 5px;
            border: none;
            position: absolute;
            left: 10px;
        }

        /* board */

        #board {
            border-radius: 20px;
            margin: 30px 100px;
            background-color: aliceblue;
        }

        #board_btn {
            height: 50px;
            text-align: center;
            font-size: 20px;
            background-color: var(--blue);
            color: rgba(0, 0, 0, 0.4);
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #board_btn:hover {
            background-color: rgba(23, 129, 194, 0.988);
            color: white;
        }
    </style>
    {% endblock %}


    <!--  icon 적용 -->
    <script src="https://kit.fontawesome.com/73b35ca8d6.js" crossorigin="anonymous"></script>
</body>

</html>